<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.changken.careapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoctorReservationActivity"></activity>
        <activity android:name=".ReservationSearchActivity"></activity>
        <activity android:name=".ReservationByDivisionActivity"></activity>
        <activity android:name=".ViewDivisionActivity"></activity>
        <activity
            android:name=".TrafficInfoActivity"
            android:label="交通指引" />
        <activity
            android:name=".QRActivity"
            android:label="報到" />
        <activity
            android:name=".ConfirmReservationActivity"
            android:label="confirm"/>
        <activity
            android:name=".EditProfileActivity"
            android:label="修改個人資料" />
        <activity
            android:name=".ReservationActivity"
            android:theme="@style/NavTheme" />
        <activity
            android:name=".MemberCenterActivity"
            android:label="會員中心"
            android:theme="@style/NavTheme" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="忘記密碼">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="列出所有使用者">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddUserActivity"
            android:label="註冊">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>